/* 画面のスタイルシート */

body {
    font-family: "Avenir", "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro";
    color: #eb5a09;
    margin: 0;
    min-width: 1076px;
    background-color: #e6dfcd;
}

/* headerのスタイルシート*/
.container {
    display: flex;
}
.item {
    text-decoration:underline #eb5a09 ;
    font-size: 20px;
    margin-right: 30px;

}

/* sectionのスタイルシート */
.home {
    display: flex;
    justify-content: center;
}
#photo {
    width: 30%;
    padding: 20px;
   
}
#name-a {
    font-size: 40px;
    text-decoration:underline #eb5a09;
}
#name-b {
    font-size: 20px;
}
.titles {
    text-align: center;
}
.about {
    background-color:#567947;
}
.note-a {
    text-align: center;
}
#my-aicon {
    width: 5%;
    padding-right: 50px;
}
#my-bicon {
    width: 5%;
}
.my-icon {
    display: flex;
    justify-content: center;
}
.contact {
    background-color: #567947;
}
.contact-a {
    display: flex;
    justify-content: center;

}
.sample-a {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #eb5a09;
}
.sample-a {
    margin :50px;
    text-align: center;
}
/* footerのスタイルシート */
#footer-a {
    text-align: center;
}